<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/root.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/style.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/navbar/navbar.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/footer/footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title><%= category.name %> | Hatch Forums</title>
</head>
<body>
    <div id="navarea"></div>
    <div id="main">
        <a href="/">back</a>
        <h1><%= category.name %></h1>
        <p><%= category.description %></p>
        <% if (category.id !== 7) { %>
            <a class="button" href="/category/<%= category.id %>/new">New topic<%= category.id === 1 ? " (admins only)" : "" %></a>
        <% } %>
        <div id="topics">
            <% let pinnedlist = []; %>
            <% let topiclist = []; %>
            <% for (let i = 0; i < topics.length; i++) { %>
                <% if (topics[i].pinned === 1) { %>
                    <% pinnedlist.push(topics[i]); %>
                <% } else { %>
                    <% topiclist.unshift(topics[i]); %>
                <%} %>
            <% } %>
            <% if (pinnedlist.length > 0) { %>
                <h2>Pinned topics</h2>
            <% } %>
            <% for (let i = 0; i < pinnedlist.length; i++) { %>
                <a class="block" href="/topic/<%= pinnedlist[i].id %>"><%= pinnedlist[i].name %></a>
            <% } %>
            <% if (topiclist.length > 0) { %>
                <h2>Topics</h2>
            <% } %>
            <% for (let i = 0; i < topiclist.length; i++) { %>
                <a class="block" href="/topic/<%= topiclist[i].id %>"><%= topiclist[i].name %></a>
            <% } %>
        </div>
    </div>
    <div id="footercontainer"></div>
    <script src="https://dev.hatch.lol/navbar/navbar.js"></script>
    <script src="https://dev.hatch.lol/footer/footer.js"></script>
</body>
</html>
