<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/style.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/navbar/navbar.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/footer/footer.css">
</head>
<body>
    <div id="navarea"></div>
    <div id="main">
        <a href="/">back</a>
        <h1><%= category.name %></h1>
        <p><%= category.description %></p>
        <a class="button" href="/category/<%= category.id %>/new">New topic</a>
        <div id="topics">
            <% for (let i = topics.length-1; i >= 0; i--) { %>
                <a class="block" href="/topic/<%= topics[i].id %>"><%= topics[i].name %></a>
            <% } %>
        </div>
    </div>
    <div id="footercontainer"></div>
    <script src="https://dev.hatch.lol/navbar/navbar.js"></script>
    <script src="https://dev.hatch.lol/footer/footer.js"></script>
</body>
</html>
