<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/style.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/navbar/navbar.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/footer/footer.css">
</head>
<body>
    <div id="navarea"></div>
    <div id="main">
        <a href="/">back</a>
        <h1><%= category.name %></h1>
        <p><%= category.description %></p>
        <a class="button" href="/category/<%= category.id %>/new">New topic<%= category.id === 1 ? " (admins only)" : "" %></a>
        <div id="topics">
            <% let pinnedlist = []; %>
            <% let topiclist = []; %>
            <% for (let i = 0; i < topics.length; i++) { %>
                <% if (topics[i].pinned === "true") { %>
                    <% pinnedlist.push(topics[i]); %>
                <% } else { %>
                        <% topiclist.unshift(topics[i]); %>
                <%} %>
            <% } %>
            <% for (let i = 0; i < pinnedlist.length; i++) { %>
                <a class="block" href="/topic/<%= pinnedlist[i].id %>"><%= pinnedlist[i].name %></a>
            <% } %>
            <% for (let i = 0; i < topiclist.length; i++) { %>
                <a class="block" href="/topic/<%= topiclist[i].id %>"><%= topiclist[i].name %></a>
            <% } %>
        </div>
    </div>
    <div id="footercontainer"></div>
    <script src="https://dev.hatch.lol/navbar/navbar.js"></script>
    <script src="https://dev.hatch.lol/footer/footer.js"></script>
</body>
</html>
