<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/root.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/style.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/navbar/navbar.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/footer/footer.css">
    <meta id="get-topic" content="<%= topic.id %>">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="navarea"></div>
    <div id="main">
        <a href="/category/<%= topic.category %>/">back</a>
        <h1><%= topic.name %></h1>
        <p>by <a href="https://dev.hatch.lol/user/?u=<%= topic.author %>"><%= topic.author %></a></p>
        <a class="button" id="pin-topic-button"><%= topic.pinned === 1 ? "Unpin" : "Pin" %></a>
        <div id="posts">
            <% for (let i = 0; i < posts.length; i++) { %>
                <div class="block post" id="<%= posts[i].author %>">
                    <div class="post-user-info">
                        <img class="post-pfp" src="https://api.hatch.lol/uploads/pfp/default.png">
                        <a class="post-user-name" href="https://dev.hatch.lol/user/?u=<%= posts[i].author %>"></a>
                        <% if (posts[i].author === topic.author) { %>
                            <span class="post-tag" title="Original Poster">OP</span>
                        <% } %>
                        <div class="post-user-role"></div>
                    </div>
                    <div class="post-content">
                        <%=
                            posts[i].content
                        %>
                    </div>
                </div>
            <% } %>
        </div>
        <div id="new_post" class="block post_form">
            <textarea id="new_post_content"></textarea>
            <a class="button" id="new_post_submit" href="#">Post</a>
        </div>
    </div>
    <div id="footercontainer"></div>
    <script src="https://dev.hatch.lol/navbar/navbar.js"></script>
    <script src="https://dev.hatch.lol/footer/footer.js"></script>
    <script src="/topic.js"></script>
    <script src="/new_post.js"></script>
</body>
</html>
