<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/style.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/navbar/navbar.css">
    <link rel="stylesheet" type="text/css" href="https://dev.hatch.lol/footer/footer.css">
</head>
<body>
    <div id="navarea"></div>
    <div id="main">
        <a href="/category/<%= topic.category %>/">back</a>
        <h1><%= topic.name %></h1>
        <p>by <a href="https://dev.hatch.lol/user/?u=<%= topic.author %>">@<%= topic.author %></a></p>
        <div id="posts">
            <% for (let i = 0; i < posts.length; i++) { %>
                <div class="block post" data-username="<%= posts[i].author %>">
                    <div class="post-user-info">
                        <img class="post-pfp" src="https://api.hatch.lol/uploads/pfp/default.png">
                        <a class="post-user-name" href="https://dev.hatch.lol/user/?u=<%= posts[i].author %>"></a>
                        <% if (posts[i].author === topic.author) { %>
                            <span class="post-op">OP</span>
                        <% } %>
                    </div>
                    <div class="post-content">
                        <%= posts[i].content %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <div id="footercontainer"></div>
    <script src="https://dev.hatch.lol/navbar/navbar.js"></script>
    <script src="https://dev.hatch.lol/footer/footer.js"></script>
    <script src="/posts-user-render.js"></script>
</body>
</html>